<!DOCTYPE html>
<html>
	<head>
		<title>
			Impero della Pizza - Gestione Ingrediente
		</title>
		<link rel="stylesheet" href="/css/stile.css" />
	</head>
<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

		<div><a href="/impero-della-pizza.png"><img src="/" width="5%"/></a></div>
		<h1>Gestione Ingredienti</h1>
		<div>
			<a href="/admin/formNewIngrediente">Inserisci un nuovo ingrediente</a>
		</div>
		<div>
			<a href="/ingrediente">Ingredienti</a>
		</div>
	</body>
</html>