@font-face {
    font-family: 'Sauce Tomato';
    src: url('/fonts/Sauce-Tomato.otf') format('opentype');
  }

body {
    margin: 0;
    background-image: url('/images/crosta-sfondo.png'); 
    background-repeat: repeat-y;
    background-size: cover; /* o 'contain' per vedere tutta l'immagine */
    background-position: center;
    background-attachment: fixed;
    font-family: "Sauce Tomato";    
}

section {
	text-align: center;
	background-color: #f1e4cde6;
	width: 35%;
	border-radius: 15px;
	margin: 0 auto;
}

.nome-ing {
	color: #a00d05;
}

.prezzo {
	color: black;
	margin-bottom: 1rem;
}

.vegan {
	text-align: center;
}

.vegan img {
  width: 3rem;
}

.gluten {
	text-align: center;
}

.gluten img {
	width: 3rem;
}

.modifica a {
	color: green;
	margin-bottom: 1rem;
	transition: ease;
}

.modifica a:hover{
	transform: scale(1.1, 1.1);
	color: blue;
	
} 