@font-face {
    font-family: 'Sauce Tomato';
    src: url('/fonts/Sauce-Tomato.otf') format('opentype');
  }
  
 
  .username {
  	font-size: 1.4rem;
  	color: green;
  	display: flex;
      justify-content: center;
      align-items: center;
  }


  .navbar {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
  	background-color: #f1e4cd;
      
  }
  nav img{
      
      width: 5rem;
      height: 5rem;
      
	 
      display: block;
      margin: 2rem auto;
      border: 5px solid red; 
      box-shadow:
      0 0 0 7px white,   
      0 0 0 12px green;     
      border-radius: 50%;
      margin-left: 1rem;
  }

  nav a {
      color: #a00d05;
	  font-size: large;
	  text-decoration: none;
      
  }

  .nav-links { 
      display: flex;
      align-items: center;
      gap: 9rem;

  }

  .nav-links a:hover {
      text-shadow: 2px 2px 2px #4f65c5;
  }