@font-face {
    font-family: 'Sauce Tomato';
    src: url('/fonts/Sauce-Tomato.otf') format('opentype');
  }

body {
    margin: 0;
    background-image: url('/images/crosta-sfondo.png'); 
    background-repeat: repeat-y;
    background-size: cover; /* o 'contain' per vedere tutta l'immagine */
    background-position: center;
    background-attachment: fixed;
    font-family: "Sauce Tomato";    
}


h1 {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    color: #f1e4cd;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: -2.5rem;
    color: #f1e4cd;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

a {
    color: #b33e3e;
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover {
    text-shadow: 1px 1px 2px #3E7D3B;
}

img {
    display: block;
    margin: 1rem auto;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

ul {
    list-style: none;
    padding: 0 2rem;
    max-width: 800px;
    margin: 0 auto 2rem auto;
}

li {
    background-color: #f1e4cd;
    border: 4px outset #b33e3e;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 1.4rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

li a {
    font-weight: bold;
    color: #b33e3e;
}

li a:hover {
    text-shadow: 2px 2px 3px #3E7D3B;
}

span img {
    width: 20%;
    vertical-align: middle;
    border-radius: 25%;
    box-shadow: 0 2px 4px #2a5328;
}

.stellaPizza{
    width: 100%; /* o 5% se preferisci responsive */
    height: auto;
    margin-right: 3px;
    border-radius: 0;       /* nessun bordo arrotondato per le stelle */
    box-shadow: none;       /* rimuovi l'ombra se non la vuoi sulle stelle */
    display: inline-block;     
}

.stelle {
    display: flex;
    justify-content: center;  /* centra orizzontalmente */
    align-items: center;      /* centra verticalmente (se serve) */
    gap: 5px;                 /* spazio tra le stelle */
    margin: 20px auto;        /* margine verticale, centrato */
    width: fit-content;       /* solo grande quanto le stelle */
}

.checkbox {
	 width: 5%;
}

.stellaRecensione{
    width: 10%; /* o 5% se preferisci responsive */
    height: auto;
    margin-right: 3px;
    border-radius: 0;       /* nessun bordo arrotondato per le stelle */
    box-shadow: none;       /* rimuovi l'ombra se non la vuoi sulle stelle */
    display: inline-block;     
}
