@font-face {
    font-family: 'Sauce Tomato';
    src: url('/fonts/Sauce-Tomato.otf') format('opentype');
  }

body {
    margin: 0;
    background-image: url('/images/crosta-sfondo.png'); 
    background-repeat: repeat-y;
    background-size: cover; /* o 'contain' per vedere tutta l'immagine */
    background-position: center;
    background-attachment: fixed;
    font-family: "Sauce Tomato";    
}






