@font-face {
    font-family: 'Sauce Tomato';
    src: url('/fonts/Sauce-Tomato.otf') format('opentype');
}

body {
    margin: 0;
    background-image: url('/images/crosta-sfondo.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Sauce Tomato";
    color: #3e3e3e;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    color: #ffffff;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

div {
	text-align: center;
	color: #f1e4cd;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: -2.5rem;
    color: #f1e4cd;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

a {
    color: #b33e3e;
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover {
    text-shadow: 1px 1px 2px #3E7D3B;
}

img {
    display: block;
    margin: 1rem auto;
    border-radius: 12px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

ul {
    list-style: none;
    padding: 0 2rem;
    max-width: 800px;
    margin: 0 auto 2rem auto;
}

li {
    background-color: #f1e4cd;
    border: 4px outset #b33e3e;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-size: 1.4rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

li a {
    font-weight: bold;
    color: #b33e3e;
}

li a:hover {
    text-shadow: 2px 2px 3px #3E7D3B;
}

span img {
    width: 20%;
    vertical-align: middle;
    border-radius: 25%;
    box-shadow: 0 2px 4px #2a5328;
}

.stellaPizza{
    width: 100%; 
    height: auto;
    margin-right: 3px;
    border-radius: 0;      
    box-shadow: none;      
    display: inline-block;     
}

.stelle {
    display: flex;
    justify-content: center;  
    align-items: center;     
    gap: 5px;                 
    margin: 20px auto;       
    width: fit-content;      
}

.checkbox {
	 width: 5%;
}

.stellaRecensione{
    width: 10%; 
    height: auto;
    margin-right: 3px;
    border-radius: 0;       
    box-shadow: none;       
    display: inline-block;     
}

form {
    background-color: #f1e4cde6;
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    border: 4px outset #b33e3e;
    border-radius: 10px;
    box-shadow: 0 0 10px #2a5328;
	text-align: center;
}

.label {
	color: #a00d05;
}

button {
    background-color: #b33e3e;
    color: white;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3E7D3B;
}

div a {
	color: green;
}