<!DOCTYPE html>
<html>
	<head>
  		<title>Aggiungi Ingrediente</title>
	</head>
	<body>
		<div><a href="/"><img src="/images/impero-della-pizza.png" width="5%"></a></div>
	  <h1>Aggiungi un ingrediente</h1>
	  <form th:action="@{/ingrediente}" method="POST" th:object="${ingrediente}">
	<div>
		Nome: <span><input required type="text" th:field="${ingrediente.nome}"/></span>
	</div>
	<div>
		Prezzo: <span><input required type="number" step="0.05" th:field="${ingrediente.prezzo}"/></span>		
	</div>
	<div>
		Vegan: <span><input type="checkbox" th:field="${ingrediente.vegan}"/></span>
	</div>
	<div>
	 Celiaco: 
	 <span><input type="checkbox" th:field="${ingrediente.celiaco}"/></span>
	</div>
	<div>
		<span><button type="submit">Conferma</button></span>
	</div>	
	  </form>	
	</body>
</html>