<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Nuova Recensione</title>

    </head>

    <body>
        <header>
            <h1>Inviaci la tua recensione!</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/recensioni">Recensioni</a>
            </nav>
        </header>

        <main>
            <form th:action="@{recensione/}" method="post" th:object="${recensione}">
                <fieldset>
                    <legend>Recensione</legend>
                    <label> Descrizione:
                        <input required type="text" name="descrizione" placeholder="Gnam!"
							th:field="${recensione.descrizione}">
                    </label>

                    <label>Stelle:
                        <input required type="number" name="stelle" placeholder="5/5"
							th:field="${recensione.stelle}">
                    </label>
					
					<label>Data
						<input type="datetime-local" name="data" placeholder="14/10/2023"
							th:field="${recensione.dataCreazione}">
					</label>
                    <button>Submit</button>
                </fieldset>
            </form>
        </main>
    </body>
</html>