<!DOCTYPE html>
<html>

<head>
	<title>Crea la tua pizza!</title>
	<link rel="stylesheet" th:href="@{/css/newPizza.css}">
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span> <a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div>
		<a href="/"><img src="/images/impero-della-pizza.png" width="5%" /></a>
	</div>

	<h1>Crea la tua pizza!</h1>
	<form th:action="@{/pizza}" method="POST" th:object="${pizza}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<label>Nome:</label><span><input type="text"
				th:field="${pizza.nome}"></span> <span
				th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		</div>
		<div>
			<label>URL Immagine:</label> <span><input type="text"
				th:field="${pizza.URLImmagine}" /></span>
		</div>
		<div>
			<label>Tipo Farina:</label> <select th:field="${pizza.tipoFarina}">
				<option value="" disabled selected>-- Seleziona farina --</option>
				<option th:each="f : ${farine}" th:value="${f.id}"
					th:text="${f.nome} + ' ' + ${f.prezzo} + '€'"></option>
			</select>
		</div>
		<div>
			<label>Ingredienti:</label>
			<ul>
				<li th:each="ing, i: *{listaIngredienti}">
					<input type="checkbox" th:name="'ingredientiDaRimuovere'" th:value="${ing.id}" />
					<span th:text="${ing.nome} + ' ' + ${ing.prezzo} + '€'">Ingrediente</span>
					<input type="hidden" th:field="*{listaIngredienti[__${i.index}__].id}" />
				</li>
			</ul>
			<select name="ingredienteSelezionatoId">
				<option value="" disabled selected>Seleziona ingrediente</option>
				<option th:each="ingrediente : ${tuttiIngredientiSenzaFarine}"
					th:value="${ingrediente.id}" th:text="${ingrediente.nome}">
				</option>
			</select>
			<span th:if="${erroreIngredienteSelezionato != null}" 
				  th:text="${erroreIngredienteSelezionato}"> 
			</span>
		</div>

		<div>
			<button type="submit" name="aggiungiIngrediente">Aggiungi ingrediente</button>
			<button type="submit" name="eliminaIngredienti">Elimina ingredienti</button>
			<button type="submit" name="Conferma">Conferma!</button>
		</div>
	</form>

</body>


</html>