<!DOCTYPE html>

<html>
	<head>
		<title>Ingredienti</title>
		<link rel="stylesheet" th:href="@{/css/ingredienti.css}">
		<link rel="stylesheet" th:href="@{/css/navbar.css}" >
	</head>
	
	<body>
	<header>
		<nav class="navbar">
					    <div class="nav-links">
					        <a class="logo">
					            <img src="images/impero-della-pizza.png" alt="logo" title="Home"
					                height="70" width="70" class="logo">
					        </a>               
					        <a href="/pizza">Menù</a>
					        <a href="/ingrediente">Ingredienti</a>
					        <a href="/recensione">Recensioni</a>
					        <a href="/formNewPizza">Crea</a>
					        <a href="/pizza/formCercaPizza">Cerca</a>
							<!-- Blocco utente -->
							<div>
								<div th:if="${userDetails}">
									<span th:text="${userDetails.username}"></span>
									<a href="/logout">Logout</a>
								</div>
								<div th:unless="${userDetails}">
									<a href="/login">Login</a>
								</div>
							</div>
					    </div>
			</nav>
	</header>

	<h1>Ingredienti</h1>

	<div th:if="${ingredienti.isEmpty()}">Non ci sono Ingredienti nel
		sistema</div>

	<ul>
		<li th:each="ingrediente : ${ingredienti}">
			<a th:href="@{'/ingrediente/' + ${ingrediente.id}}"> 
				<span th:text="${ingrediente.nome}">Pomodoro</span></a>
				<span th:text="' ' + '(' + ${#numbers.formatDecimal(ingrediente.prezzo, 1, 2)} + '€' + ')'">1.50€</span>
				<span th:if="${ingrediente.vegan}"> <img src="/images/Vegan_friendly_icon.jpg" width="1.5%"> </span> 
				<span th:if="${ingrediente.celiaco}"> <img src="/images/GlutenFree.jpg" width="1.5%"></span> 
			</li>
	</ul>
	</body>
</html>
