<!DOCTYPE html>

<html>
	<head>
		<title>Ingredienti</title>
		<link rel="stylesheet", th:href="@{css/ingredienti.css}">
	</head>
	
	<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span> <a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div>
		<a href="/"><img src="/images/impero-della-pizza.png" width="5%" /></a>
	</div>

	<h1>Ingredienti</h1>

	<div th:if="${ingredienti.isEmpty()}">Non ci sono Ingredienti nel
		sistema</div>

	<ul>
		<li th:each="ingrediente : ${ingredienti}" style="font-size: 2rem">
			<a th:href="@{'/ingrediente/' + ${ingrediente.id}}" style="text-decoration: none;color: brown;"> 
				<span th:text="${ingrediente.nome}">Pomodoro</span></a>
				<span th:text="' ' + '(' + ${#numbers.formatDecimal(ingrediente.prezzo, 1, 2)} + '€' + ')'">1.50€</span>
				<span th:if="${ingrediente.vegan}"> <img src="/images/Vegan_friendly_icon.jpg" width="1.5%"> </span> 
				<span th:if="${ingrediente.celiaco}"> <img src="/images/GlutenFree.jpg" width="1.5%"></span> 
			</li>
	</ul>
	</body>
</html>
