<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>Pizza non trovata</title>
    <link rel="stylesheet" href="/css/notFound.css">
</head>

<body>
    <div class="container">
        <p>Lezzo🍕</p>
        <p>Stai ficcanasando un po' troppo...</p>
        <a href="/">Clicca qui per tornare a fare azioni lecite, bischero!</a>

		        <div>
		            <iframe width="1080" height="720" 
		                    src="https://www.youtube.com/embed/7kqYEEpvuok?si=YvdxxnKz66stAKnJ" 
		                    title="YouTube video player" 
		                    frameborder="0" 
		                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
		                    referrerpolicy="strict-origin-when-cross-origin" 
		                    allowfullscreen>
		            </iframe>
		        </div>
	</div>
</body>
</html>
