<!DOCTYPE html>
<html>

	<head>
		<title>Lista Pizze</title>
	</head>	

	<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
		<div>
			<a href="/"><img src = "/images/impero-della-pizza.png" width="5%"/></a>
		</div>
		
		<h1>Le nostre Pizze</h1>
		
		<div th:if="${pizze.isEmpty()}">Non ci sono pizze da gustare :(</div>
		<ul>
			<li th:each="pizza : ${pizze}" style="font-size: 2rem">
				<a th:href="@{'/pizza' + '/' + ${pizza.id}}" th:text="${pizza.nome} +
				 ' (' + ${#numbers.formatDecimal(pizza.prezzo, 1, 2)} + '€)'" style="text-decoration: none;color: brown;">Margherita (€ 5)</a>
				<span th:if="${pizza.isCeliaco}"> <img src="/images/GlutenFree.jpg" width="1.5%"/></span>
				<span th:if="${pizza.isVegan}"> <img src="/images/Vegan_friendly_icon.jpg" width="1.5%"/></span>
				<p style="font-size: 1.4rem">
					<span th:each="ingrediente : ${pizza.listaIngredienti}" th:text="${ingrediente.nome} + ' '"></span>
				</p>
			</li>
		</ul>
	</body>
	
	
</html>