<!DOCTYPE html>
<html>

	<head>
		<title>Lista Pizze</title>
	</head>	

	<body>
		<div>
			<a href="/"><img src = "/images/impero-della-pizza.png" width="5%"></a>
		</div>
		
		<h1>Le nostre Pizze</h1>
		
		<div th:if="${pizze.isEmpty()}">Non ci sono pizze da gustare :(</div>
		<ul>
			<li th:each="pizza : ${pizze}">
				<a th:href="@{'/pizza' + '/' + ${pizza.id}}" th:text="${pizza.nome} + ' (' + ${#numbers.formatDecimal(pizza.prezzo, 1, 2)} + '€)'">Margherita (€ 5)</a>
			</li>
		</ul>
	</body>
	
	
</html>