<!DOCTYPE html>
<html>
<head>
	<title>Pizza X</title>
	<link rel="stylesheet" th:href="@{/css/pizza.css}" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span> <a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div>
		<a href="/"><img src="/images/impero-della-pizza.png" width="5%" /></a>
	</div>
	<div th:if="${pizza}">
		<h1> 
			<span th:text="${pizza.nome} + ' ' + ${#numbers.formatDecimal(pizza.prezzo, 1, 2)} + ' €' ">NomePizza</span>
		 	<span th:if="${pizza.isCeliaco()}"> <img class="checkbox" src="/images/GlutenFree.jpg" width="3%"/></span>
		 	<span th:if="${pizza.isVegan()}"> <img class="checkbox" src="/images/Vegan_friendly_icon.jpg" width="3%"/></span>
		</h1>
		<span><img width="30%" th:src="${pizza.URLImmagine}" /></span>
		<div class="stelle" th:if="${pizza.listaRecensioni != null and !pizza.listaRecensioni.isEmpty()}"
			th:with="media = ${pizza.calcolaMediaStelle()},
    		piene = ${(T(java.lang.Math).floor(media)).intValue()},
    		haMezza = ${(media - piene) >= 0.5},
    		mezza = ${haMezza ? 1 : 0},
    		vuote = ${5 - piene - mezza}">    		
    		<img class="stella" src="/images/star-full.png" th:each="i : ${#numbers.sequence(1, piene)}"/>
    		<img class="stella" src="/images/star-half.png" th:if="${haMezza}"/>
    		<img class="stella" src="/images/star-empty.png" th:if="${vuote > 0}" th:each="i : ${#numbers.sequence(1, vuote)}"/>
		</div>
		<span th:text="${#numbers.formatDecimal(pizza.calcolaMediaStelle(), 1, 2)}" style="font-size: 2rem; color: #f1e4cd;
		 width: 100%; text-align: center; display: block; font-weight: bold;"></span>
		<div class="stelle" th:unless="${pizza.listaRecensioni != null and !pizza.listaRecensioni.isEmpty()}">
    		<span th:each="i : ${#numbers.sequence(1,5)}">
        		<img class="stella" src="/images/star-empty.png" width="25"/>
    		</span>
		</div>
	</div>
	<div th:unless="${pizza}">Non Esiste</div>
	<div th:if="${pizza.farina != null}">
		<h1>Ingredienti:</h1>
		<ul>
			<li th:if="${pizza.farina != null}" th:text="${pizza.farina.nome}">Nome
				farina</li>
			<li th:each="ingrediente : ${pizza.listaIngredienti}"><span
				th:text="${ingrediente.nome}">Nome ingrediente</span></li>
		</ul>
	</div>
	<h1>Recensioni</h1>
	<h2>
		<a th:href="@{'/pizza' + '/' + ${pizza.id} + '/formNewRecensione'}">Aggiungi
			una recensione!</a>
	</h2>
	<div
		th:if="${pizza.listaRecensioni==null || pizza.listaRecensioni.isEmpty()}">Non
		ci sono recensioni per questa pizza</div>
	<ul>
		<li th:each="recensione : ${pizza.listaRecensioni}"><a
			th:text="${recensione.descrizione} + ' (' + ${recensione.stelle} + ')'">Gnam!(4)</a>
		</li>
	</ul>
</body>
</html>
