<!DOCTYPE html>
<html>
<head>
    <title>Dettaglio Recensione</title>
	<link rel="stylesheet" th:href="@{/css/recensioni.css}" />
	<link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <meta charset="UTF-8">
</head>
<body>
	<header>
		<nav class="navbar">
		    <div class="nav-links">
		        <a class="logo">
		            <img src="/images/impero-della-pizza.png" alt="logo" title="Home"
		                height="70" width="70" class="logo">
		        </a>               
		        <a href="/pizza">Menù</a>
		        <a href="/ingrediente">Ingredienti</a>
		        <a href="/recensione">Recensioni</a>
		        <a href="/formNewPizza">Crea</a>
		        <a href="/pizza/formCercaPizza">Cerca</a>
				<!-- Blocco utente -->
				
					<div th:if="${userDetails}">
						<a class="username" th:href="@{'/recensione' + '/' + ${userDetails.username} + '/' + 'recensioni'}" th:text="${userDetails.username}"></a>
						<a href="/logout">Logout</a>
					</div>
					<div th:unless="${userDetails}">
						<a href="/login">Login</a>
					</div>
				</div>
		</nav>
	</header>
    
    <main>
		<p><strong>ID:</strong> <span th:text="${recensione.id}">1</span></p>
		<p><strong>Descrizione:</strong> <span th:text="${recensione.descrizione}">Ottima pizza!</span></p>
		<p><strong>Data di Creazione:</strong> <span th:text="${recensione.dataCreazione}">2024-04-01</span></p>
		<p>
		    <strong>Stelle:</strong> 
		    <span th:text="${recensione.stelle}">4.5</span>

			<span th:with="
			    valore=${recensione.stelle},
			    piene=${T(java.lang.Math).floor(valore).intValue()},
			    haMezza=${(valore - piene) >= 0.5},
			    mezza=${haMezza ? 1 : 0},
			    vuote=${5 - piene - mezza}">
			    
			    <!-- Stelle piene -->
			    <img class="stella" src="/images/star-full.png" th:if="${piene > 0}" th:each="i : ${#numbers.sequence(1, piene)}" />
			    
			    <!-- Mezza stella -->
			    <img class="stella" src="/images/star-half.png" th:if="${mezza == 1}" />
			    
			    <!-- Stelle vuote -->
			    <img class="stella" src="/images/star-empty.png" th:if="${vuote > 0}" th:each="i : ${#numbers.sequence(1, vuote)}" />
			</span>
		</p>
	</main>

    <a th:href="@{/recensione}">Torna alla lista</a>
</body>
</html>
